:host {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
  "main-header ."
  "main aside";
  grid-gap: 1.5rem;
}

.header {
  grid-area: main-header;
  display: flex;
}

.main {
  grid-area: main;
}

.aside {
  grid-area: aside;
}

.create-user {
  margin-left: auto;
}

